.card-container {
    padding: 20px; 
    box-sizing: border-box;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    gap: 10px;
}

.card{
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    text-align: center;
}

.type-images{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.archetypes-container{
    margin: 20px;
}

.category-section{
    padding: 5px;
    display: grid;
    grid-template-columns: 110px repeat(8, 1fr);
}

.category-name {
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skill-card{
    border: 1px solid grey;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.skill-title{
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.skill-description{
    font-size: 12px;
    text-align: center;
    margin: 0;
}