.card-container {
    padding: 20px; 
    box-sizing: border-box;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, auto));
    gap: 10px;
}

.card{
    padding: 10px;
    border: 1px solid whitesmoke;
    border-radius: 10px;
    text-align: center;
}

.type-images{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.archetypes-container{
    margin: 20px;
}

.category-section{
    padding: 5px;
    display: grid;
    grid-template-columns: 110px repeat(8, 1fr);
}

.category-name {
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.skill-card{
    border: 1px solid grey;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.skill-title{
    font-size: 12px;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.skill-description{
    font-size: 12px;
    text-align: center;
    margin: 0;
}

.skill-controls{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    gap: 10px;
}

button.increment,
button.decrement {
    padding: 0;
    border-radius: 100%;
    border: none;
    width: 20px;                
    height: 20px;
    display: flex;               
    justify-content: center;     
    align-items: center;       
    cursor: pointer;            
    transition: background-color 0.3s ease;
}

button.decrement {
    background-color: crimson;
}

button.increment{
    background-color: forestgreen; 
}
  
.increment:disabled,
.decrement:disabled {
    background-color: #1a1a1a;
    cursor: not-allowed;           
}

.button-span{
    border-radius: 100%;
    border: none;
    width: 20px;                
    height: 20px;
    line-height: 1;
    font-size: 18px;
}